RewriteEngine On
RewriteBase /qotu.sn-iriga/

# Exclude assets from rewrite rule
RewriteCond %{REQUEST_URI} !\.(css|js|svg|jpg|jpeg|png|gif|woff2|ico|ttf)$ [NC]

# Redirect all requests to index.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /qotu.sn-iriga/public/index.html [L]

# Exclude the public and app directories from the rewrite rule
RewriteCond %{REQUEST_URI} !^/qotu.sn-iriga/public/
RewriteCond %{REQUEST_URI} !^/qotu.sn-iriga/app/
RewriteRule ^(.*)$ /qotu.sn-iriga/public/$1 [L]
